/**
 * Layout Clients
 *
 */

.client-carousel {
    padding: 5px;
    border: 1px solid $cx-border-color;
    @extend %rounded-corners;
	@extend %overflow-hidden;
}

.client-section {
	@include media-only(small-mobile, max) {
		padding-top: $cx-col-spacing;
	}
}