/**
 * Layout Primary Slider
 *
 */


#primary_slider {
	height: 540px;

	@include respond-to(notebook) {
		height: 490px;
	}

	@include respond-to(tablet) {
		height: 430px;
	}

	@include respond-to(mobile) {
		height: 370px;
	}

	.swiper-slide {
		overflow: hidden;
	}

	.slide-inner {
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
	}
}