/**
 * Layout Newsletter
 *
 */

.newsletter-section {
	.newsletter-title {
		h6 {
		    color: #333333;
		    font-weight: 400;
		    font-size: 24px;
		    margin: 0;
		    text-transform: inherit;
		    line-height: 28px;
		    flex: 0 0 30%;
		    max-width: 30%;
		}

		h3 {
		    font-size: 14px;
		    color: #666666;
		    margin: 5px 0 0 50px;
		    text-transform: inherit;
		    font-weight: 400;
		    float: left;
		    line-height: 24px;
		    flex: 0 0 60%;
		    max-width: 60%;
		}
	}

	.newsletter-form-wrapper {
		form {
		    display: block;
		    width: 100%;
		    position: relative;
		}
		input {
			&[type="email"] {
			    border: 1px solid #f0f0f0;
			    font-size: 14px;
			    color: #999999;
			    display: block;
			    padding: 0 130px 0 30px;
			    height: 48px;
			    line-height: 46px;
			    width: 100%;
			    @extend %bgc-white;
			    @extend %rounded-corners;
			    @extend %cx-transition;

			    &:active,
			    &:focus {
			    	border-color: $cx-primary-color-1;
			    }
			}

			&[type="submit"] {
			    padding: 0 20px;
			    height: 48px;
			    line-height: 48px;
			    position: absolute;
			    right: 0;
			    top: 0;
			    text-transform: capitalize;
			    font-weight: 400;
			    @extend %bgc-primary-1;
			    @extend %color-white;
			    @extend %rounded-corners;

			    &:hover {
			    	@extend %bgc-secondary-1;
			    }
			}
		}

		::-webkit-input-placeholder{
		  color: #9d9d9d;
		}
		::-moz-placeholder{
		  color: #9d9d9d;
		}
		:-ms-input-placeholder{
		  color: #9d9d9d;
		}
		:-moz-placeholder {
		  color: #9d9d9d;
		}
	}
}