// Color helpers

%primary-color-one {
	color: cx-color(pallete-one, primary);
}

%primary-bg-one {
	background: cx-color(pallete-one, primary);
}

%primary-border-one {
	border-color: cx-color(pallete-one, primary);
}

%secondary-color-one {
	color: cx-color(pallete-one, secondary);
}

%secondary-bg-one {
	background: cx-color(pallete-one, secondary);
}

%secondary-border-one {
	border-color: cx-color(pallete-one, secondary);
}

%header-bg-one {
	background: cx-color(pallete-one, header);
}

%primary-color-two {
	color: cx-color(pallete-two, primary);
}

%primary-bg-two {
	background: cx-color(pallete-two, primary);
}

%primary-border-two {
	border-color: cx-color(pallete-two, primary);
}

%secondary-color-two {
	color: cx-color(pallete-two, secondary);
}

%secondary-bg-two {
	background: cx-color(pallete-two, secondary);
}

%secondary-border-two {
	border-color: cx-color(pallete-two, secondary);
}

%header-bg-two {
	background: cx-color(pallete-two, header);
}

%primary-color-three {
	color: cx-color(pallete-three, primary);
}

%primary-bg-three {
	background: cx-color(pallete-three, primary);
}

%primary-border-three {
	border-color: cx-color(pallete-three, primary);
}

%secondary-color-three {
	color: cx-color(pallete-three, secondary);
}

%secondary-bg-three {
	background: cx-color(pallete-three, secondary);
}

%secondary-border-three {
	border-color: cx-color(pallete-three, secondary);
}

%header-bg-three {
	background: cx-color(pallete-three, header);
}

%primary-color-four {
	color: cx-color(pallete-four, primary);
}

%primary-bg-four {
	background: cx-color(pallete-four, primary);
}

%primary-border-four {
	border-color: cx-color(pallete-four, primary);
}

%secondary-color-four {
	color: cx-color(pallete-four, secondary);
}

%secondary-bg-four {
	background: cx-color(pallete-four, secondary);
}

%secondary-border-four {
	border-color: cx-color(pallete-four, secondary);
}

%header-bg-four {
	background: cx-color(pallete-four, header);
}


// Color Schemes

.primary-color {
	@include cx-color(primary, color);
}

.primary-bg-color {
	@include cx-color(primary, bg);
}

.primary-border-color {
	@include cx-color(primary, border);
}

.secondary-color {
	@include cx-color(secondary, color);
}

.secondary-bg-color {
	@include cx-color(secondary, bg);
}

.secondary-border-color {
	@include cx-color(secondary, border);
}

.header-bg-color {
	@include cx-color(header, bg);
}

%color-transparent {
	body & {
		color: transparent;
	}
}

%color-offset {
	body & {
		color: $cx-offset-color;
	}
}

%color-white {
	body & {
		color: #fff;
	}
}

%bgc-transparent {
	body & {
		background-color: transparent;
	}
}

%bgc-offset {
	body & {
		background-color: $cx-offset-color;
	}
}

%bgc-white {
	body & {
		background-color: #fff;
	}
}







%primary-bg-1 {
	background: cx-color(pallete-one, primary);
}

%primary-border-1 {
	border-color: cx-color(pallete-one, primary);
}

%secondary-color-1 {
	color: cx-color(pallete-one, secondary);
}

%secondary-bg-1 {
	background: cx-color(pallete-one, secondary);
}

%secondary-border-1 {
	border-color: cx-color(pallete-one, secondary);
}

%header-bg-color-1 {
	color: cx-color(pallete-one, header);
}

%primary-color-2 {
	color: cx-color(pallete-two, primary);
}

%secondary-color-2 {
	color: cx-color(pallete-two, secondary);
}

%header-bg-color-2 {
	color: cx-color(pallete-two, header);
}

%primary-color-3 {
	color: cx-color(pallete-three, primary);
}

%secondary-color-3 {
	color: cx-color(pallete-three, secondary);
}

%header-bg-color-3 {
	color: cx-color(pallete-three, header);
}

%primary-color-4 {
	color: cx-color(pallete-four, primary);
}

%secondary-color-4 {
	color: cx-color(pallete-four, secondary);
}

%header-bg-color-4 {
	color: cx-color(pallete-four, header);
}


// // Scheme two
// .primary-color {
// 	@include cx-color(primary, color);
// }

// .primary-bg-color {
// 	@include cx-color(primary, bg);
// }

// .primary-border-color {
// 	@include cx-color(primary, border);
// }

// .secondary-color {
// 	@include cx-color(secondary, color);
// }

// .secondary-bg-color {
// 	@include cx-color(secondary, bg);
// }

// .secondary-border-color {
// 	@include cx-color(secondary, border);
// }

// .header-bg-color {
// 	@include cx-color(header, bg);
// }


// // Scheme three
// .primary-color {
// 	@include cx-color(primary, color);
// }

// .primary-bg-color {
// 	@include cx-color(primary, bg);
// }

// .primary-border-color {
// 	@include cx-color(primary, border);
// }

// .secondary-color {
// 	@include cx-color(secondary, color);
// }

// .secondary-bg-color {
// 	@include cx-color(secondary, bg);
// }

// .secondary-border-color {
// 	@include cx-color(secondary, border);
// }

// .header-bg-color {
// 	@include cx-color(header, bg);
// }


// // Scheme four
// .primary-color {
// 	@include cx-color(primary, color);
// }

// .primary-bg-color {
// 	@include cx-color(primary, bg);
// }

// .primary-border-color {
// 	@include cx-color(primary, border);
// }

// .secondary-color {
// 	@include cx-color(secondary, color);
// }

// .secondary-bg-color {
// 	@include cx-color(secondary, bg);
// }

// .secondary-border-color {
// 	@include cx-color(secondary, border);
// }

// .header-bg-color {
// 	@include cx-color(header, bg);
// }

