html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	@include box-sizing(border-box);
}

body {
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

section {
	margin-bottom: $cx-section-spacing;
	display: block;
	width: 100%;
	float: none;
	clear: both;
	@include respond-to(mobile) {
		margin-bottom: $cx-section-spacing-mob;
	}
}

.lead {
	font-size: 14px;
}

.main-content-wrapper {
	@extend %clearfix;
}

#primary,
#secondary {
	margin-bottom: $cx-section-spacing;
	@include respond-to(mobile) {
		margin-bottom: $cx-section-spacing-mob;
	}
}

.pswp {
	z-index: 9999;
}

.pswp__counter {
	@extend %visuallyhidden;
}

// hide an element

.visually-hidden {
	@extend %visuallyhidden;
}

// global notice

.browserupgrade {
	padding: 50px;
	background: #dedede;
	font-size: 20.5px;
	text-align: center;
}

// Border classes

.rb-bordered {
	@extend %cx-right-bottom-border;
}

.tr-bordered {
	@extend %cx-top-right-border;
}

.bl-bordered {
	@extend %cx-bottom-left-border;
}

.lt-bordered {
	@extend %cx-left-top-border;
}

.top-bordered {
	@extend %cx-top-border;
}

.right-bordered {
	@extend %cx-right-border;
}

.bottom-bordered {
	@extend %cx-bottom-border;
}

.left-bordered {
	@extend %cx-left-border;
}

.border-offset {
	border-color: $cx-offset-color;
}

.border-text {
	border-color: $cx-text-color;
}


//section zero margin & padding

.vmargin {
	@extend %vmargin;
}

.mb0 {
	@extend %mb0;
}

.pb0 {
	@extend %pb0;
}

.mt0 {
	@extend %mt0;
}

.pt0 {
	@extend %pt0;
}

.nomargin {
	@extend %margin-0;
}

// full margin & padding 

.vpadding {
	@extend %vpadding;
}

.nopadding {
	@extend %padding-0;
}

.mt-full {
	@extend %mt-full;
}

.mb-full {
	@extend %mb-full;
}

.pt-full {
	@extend %pt-full;
}

.pb-full {
	@extend %pb-full;
}

// half padding & margin

.mt-half {
	@extend %mt-half;
}

.mb-half {
	@extend %mb-half;
}

.pt-half {
	@extend %pt-half;
}

.pb-half {
	@extend %pb-half;
}

// Section with padding 

.wrapper-with-right-padding {
	padding-right: $cx-heading-margin-bottom;
	@include media-only(notebook, max) {
		padding-right: 0;
	}
}

.wrapper-with-left-padding {
	padding-left: $cx-heading-margin-bottom;
	@include media-only(notebook, max) {
		padding-left: 0;
	}
}

// Background Colors

.bgc-primary-1 {
	@extend %bgc-primary-1;
}

.bgc-secondary-1 {
	@extend %bgc-secondary-1;
}

// .bgc-tertiary {
// 	@extend %bgc-tertiary;
// }

// .bgc-fourth {
// 	@extend %bgc-fourth;
// }

.bgc-transparent {
	@extend %bgc-transparent;
}

.bgc-offset {
	@extend %bgc-offset;
}

// .bgc-grey {
// 	@extend %bgc-grey;
// }

.bgc-white {
	@extend %bgc-white;
}

// .bgc-tertiary-textured {
// 	background-color: rgba($cx-tertiary-color, 0.98);
// 	@include cx-background('../img/cta/cta-bg-1.png');
// }


// color

.color-primary-1 {
	@extend %color-primary-1;
}

.color-secondary-1 {
	@extend %color-secondary-1;
}

// .color-tertiary {
// 	@extend %color-tertiary;
// }

// .color-fourth {
// 	@extend %color-fourth;
// }

.color-transparent {
	@extend %color-transparent;
}

.color-offset {
	@extend %color-offset;
}

.color-white {
	@extend %color-white;
}

// Border-colors 

// $border-colors: ($cx-primary-color, $twitter-color, $gplus-color, $cx-secondary-color, $linkedin-color, $youtube-color);
// $border-colors-count: length($border-colors);

// @for $i from 1 to $border-colors-count + 1 {
// 	.border-color-#{$i} {
// 		border-color: lighten(nth($border-colors, $i), 10%);
// 	}
// }

// Social Media Colors

.bg-facebook {
	background: $facebook-color;
	&:hover {
		background: darken($facebook-color, 10%);
	}
}

.bg-twitter {
	background: $twitter-color;
	&:hover {
		background: darken($twitter-color, 10%);
	}
}

.bg-gplus {
	background: $gplus-color;
	&:hover {
		background: darken($gplus-color, 10%);
	}
}

.bg-pinterest {
	background: $pinterest-color;
	&:hover {
		background: darken($pinterest-color, 10%);
	}
}

// .bg-linkedin {
// 	background: $linkedin-color;
// 	&:hover {
// 		background: darken($linkedin-color, 10%);
// 	}
// }

// .bg-instagram {
// 	background: $instagram-color;
// 	&:hover {
// 		background: darken($instagram-color, 10%);
// 	}
// }

// .bg-skype {
// 	background: $skype-color;
// 	&:hover {
// 		background: darken($skype-color, 10%);
// 	}
// }

// .bg-youtube {
// 	background: $youtube-color;
// 	&:hover {
// 		background: darken($youtube-color, 10%);
// 	}
// }

// .bg-reddit {
// 	background: $reddit-color;
// 	&:hover {
// 		background: darken($reddit-color, 10%);
// 	}
// }


// overlay

// .section-overlay {
// 	opacity: 0.9;
// 	@include abs-position(0, 0, 0, 0);
//     @include bcg-linear-gradient(110deg, $cx-primary-color, $cx-secondary-color);
// }

// .video-section-overlay {
// 	opacity: 0.7;
// 	@include abs-position(0, 0, 0, 0);
//     @include bcg-linear-gradient(110deg, darken($cx-tertiary-color, 10%), darken($cx-tertiary-color, 10%));
// }



// Border-radius

.rounded-corners {
	@extend %rounded-corners;
}

.circle {
	@include border-radius(50%);
}

// equal height by display: table

.eqheight {
	@extend %eqheight;
}


// Overflow

.oflow-hidden {
	@extend %overflow-hidden;
}

// Position

.pos-r {
	position: relative;
}

.pos-a {
	position: absolute;
}

// Tooltips

.tooltip {
	z-index: 9950;
	.arrow{
		&::before {
			border-top-color: $cx-secondary-color-1;
		}
	}

	.tooltip-inner {
		@extend %bgc-secondary-1;
	}
}


