html,
body {
    font-size: $cx-body-font-size;
}

body {
    font-family: $cx-body-font;
    line-height: $cx-body-line-height;
    color: $cx-text-color;
    font-weight: $cx-body-font-weight;
    background: $cx-body-bg-color;
}

h1 { 
    font-size: $cx-h1-font-size;
}

h2 { 
    font-size: $cx-h2-font-size;
}

h3 { 
    font-size: $cx-h3-font-size;
}

h4 { 
    font-size: $cx-h4-font-size; 
}

h5 { 
    font-size: $cx-h5-font-size; 
}

h6 { 
    font-size: $cx-h6-font-size; 
}

h1, h2, h3, h4, h5, h6 {
    font-family: $cx-body-font;
    font-weight: 500;
    @extend %color-secondary-1;
    @extend %default-heading;    
}

.fa {
    font-size: $cx-icon-font-size;
}

p {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: $cx-heading-margin-bottom;
}

ul, ol, table, dl, dd {
    margin-bottom: $cx-heading-margin-bottom;
}

address, blockquote {
    font-style: italic;
}

blockquote {
    font-size: $cx-body-font-size;
}

td, th {
    padding: 10px;
}

img {
    max-width: 100%;
    height: auto;
    backface-visibility: hidden;
}

*:focus{
    outline: none;
}

a {
    @extend %cx-transition;
    text-decoration: none;
    @extend %color-secondary-1;
}

a:hover, a:focus {
  text-decoration: none;
}

a:focus, a:active, a:hover {
    outline: 0 none;
    text-decoration: none;
    @include cx-color(primary, color);
}

.btn-link {
    @extend %color-secondary-1;
    &:hover,
    &:focus,
    &:active {
        @include cx-color(primary, color);
    }
}

legend {
    font-size: 18px;
    padding: 7px 0px
}

label {
    font-size: 14px;
    font-weight: normal;
}

textarea,
select,
input[type="text"],
input[type="url"],
input[type="email"],
input[type="button"],
input[type="reset"],
input[type="password"],
input[type="search"],
input[type="tel"] {
    font-size: 12px;
    box-shadow: none;
    border-radius: 0;
    @extend %cx-transition;
}

textarea {
    min-height: 160px;
}

.input-group,
.input-group input, 
.input-group select, 
.input-group 
.dropdown-menu, 
.input-group .popover {
    font-size: 12px;
}

button,
input[type="reset"],
input[type="button"],
input[type="submit"] {
    background: #f4f4f4;
    color: #444;
    border: 0;
    padding: 0 30px;
    text-transform: uppercase;
    font-size: 14px;
    color: #444;
    line-height: 43px;
    height: 40px;
    display: inline-block;
    font-weight: 500;
    border-radius: 3px;
    box-shadow: none;
    @extend %cx-transition;
}


input::-webkit-input-placeholder,
input:-moz-placeholder,
input:-ms-input-placeholder,
input[placeholder] {
    color: #9d9d9d ;
}

select:focus,
button:focus,
input:focus,
textarea:focus {
    border-color: $cx-secondary-color-1;
    outline: 0;
}

button:hover,
input[type="submit"]:hover,
input[type="button"]:hover {
    @include cx-color(primary, border);
    @include cx-color(primary, bg);
}

$c_schemes: one two three four;

@each $single-scheme in $c_schemes {
    .color-scheme-#{$single-scheme} {
        ::-webkit-selection {
            background: cx-color(pallete-#{$single-scheme}, primary);
            text-shadow: none;
            color: #fff;
        }

        ::-moz-selection {
            background: cx-color(pallete-#{$single-scheme}, primary);
            text-shadow: none;
            color: #fff;
        }

        ::selection {
            background: cx-color(pallete-#{$single-scheme}, primary);
            text-shadow: none;
            color: #fff;
        }
    }
}