/**
 * Layout Modal
 *
 */

.modal {
	z-index: 9990;
	.modal-lg {
	    max-width: 970px;
	    margin: 60px auto;
	}
	
	.modal-content {
		@extend %rounded-corners;
	}

	.modal-header {
		border-bottom: 0;

		.close {
		    position: relative;
		    top: -5px;
		    font-size: 24px;

		    &:hover {
		    	@extend %bgc-transparent;
		    	@include cx-color(primary, color);
		    }
		}
	}

	.modal-body {
		padding: 0 40px 40px;

		.product-availability {
			@include respond-to(tablet) {
				margin-top: 20px;
			}
		}
	}

	.modal-footer {
		padding: 20px 15px;
	}
}

.modal-backdrop {
   background-color: #000;
   z-index: 9950;
}