/************************************************************
	c20 - Layout - Header
*************************************************************/
@import 'header/lo-header';
@import 'header/lo-main-menu';


/************************************************************
	c21 - Layout - Footer
*************************************************************/
@import 'footer/lo-footer';


/************************************************************
	c22 - Layout - Various Sliders
*************************************************************/
@import 'sliders/lo-primary-slider';
@import 'sliders/lo-category-slider';
@import 'sliders/lo-product-slider';


/************************************************************
	c23 - Layout - Clients
*************************************************************/
@import 'clients/lo-clients';


/************************************************************
	c24 - Layout - Newsletter
*************************************************************/
@import 'newsletter/lo-newsletter';



/************************************************************
	c30 - Layout - Modal
*************************************************************/
@import 'modal/lo-modal';


