/**
 * Layout Header
 *
 */
 
header {
    .header-area {
    	padding: 30px 0 35px;
    }

    .logo {
	    margin: 16px 0 0;
    }

	.top-search {
		p {
			@extend %mb0;
		}
	}

	.list-inline {
		text-align: right;
		@extend %mb0;
		li {
			&.list-inline-item {
				position: relative;
				margin-right: 0;
				button {
					font-size: 13px;
					text-transform: capitalize;
					cursor: pointer;
					text-decoration: none;
					height: auto;
					line-height: 20px;
				}

				i {
					margin-left: 8px;
					font-size: 12px;
				}

				&::after {
				    content: '';
				    position: absolute;
				    height: 16px;
				    width: 1px;
				    background: #a1a1a1;
				    right: 0;
				    top: 2px;
				}

				.dropdown-toggle {
					padding: 0 18px;
					&::after {
						content: none;
					}
				}

				&:last-child {
					.dropdown-toggle {
						padding-right: 0;
					}
					&::after {
						content: none;
					}
				}
			}

			img {
				margin-right: 6px;
			}
		}

		.dropdown-menu {
		    max-height: 0;
		    display: block;
		    overflow: hidden;
		    opacity: 0;
		    border: 0;
		    padding: 0;
		    z-index: 9911;
	        transition: all .2s cubic-bezier(.2,1,.22,1),opacity .15s ease-out;
	        @extend %rounded-corners;

		    &.show {
			    max-height: 200px;
			    opacity: 1;
		    }

		    ul {
			    border: 1px solid #e0e0e0;
			    left: 7px;
			    margin: 10px 0 0;
			    padding: 10px 18px 15px;
			    box-shadow: none;
			    min-width: 145px;
			    list-style: none;
			    overflow: hidden;
			    @extend %rounded-corners;

				li {
				    a {
				    	display: block;
					    color: #4d4d4d;
					    font-size: 13px;
					    text-decoration: none;
					    padding: 6px 0 12px;
					    line-height: 20px;
					    margin-bottom: 6px;
					    text-align: left;
					    border-bottom: 1px solid #eeeeee;

					    &:hover {
					    	@extend %color-primary-1;
					    }
				    }
				    &:last-child {
				    	a {
				    		border-bottom: 0;
				    		@extend %pb0;
				    		@extend %mb0;
				    	}
				    }
				}
		    }
		}

		@include media-only(notebook, max) {
			text-align: center;
			margin-top: 20px;
		}

		@include media-only(small-mobile, max) {
			> li {
				&:last-child {
					margin-top: 20px;
					display: block;
				}

				&.list-inline-item {
					&::after {
						content: none;
					}
				}
			}
		}
	}

	.top-header {
		@include media-only(notebook, max) {
			margin-top: 20px;
		}
	}

	.header-search-area {
		@include media-only(notebook, max) {
			max-width: 500px;
			margin-bottom: 20px;
		}
	}

	.bottom-header {
	    display: inline-block;
	    width: 100%;
	    margin: 23px 0 0;
	}

	.header-contact,
	.header-cart {
		float: right;

		@include media-only(notebook, max) {
			float: none;
		}
	}

	.header-contact {
		margin-right: 30px;

		i {
		    font-size: 45px;
		}

		.header-contact-content {
			p {
				@extend %mb0;
			}
			span {
			    font-size: 14px;
			    color: #888888;
			    text-transform: uppercase;
			}

			a {
			    font-size: 14px;
			    margin: 3px 0 0;
			    display: block;
			}
		}

		@include media-only(notebook, max) {
			justify-content: center;
			align-items: center;
			margin: 25px 0 0;

			.header-contact-content {
				flex: 0 0 auto;
			}
		}
	}

	@include media-only(notebook, max) {
		text-align: center;
	}
}