/**
 * Layout Header
 *
 */
 
header {
    .header-area {
    	padding: 30px 0 35px;
    }

    .logo {
	    margin: 16px 0 0;
    }

	.top-search {
		p {
			@extend %mb0;
		}
	}

	.list-inline {
		text-align: right;
		@extend %mb0;
		li {
			&.list-inline-item {
				position: relative;
				margin-right: 0;
				button {
					font-size: 13px;
					text-transform: capitalize;
					cursor: pointer;
					text-decoration: none;
					height: auto;
					line-height: 20px;
					@extend %bgc-transparent;
				}

				i {
					margin-left: 8px;
					font-size: 12px;
				}

				&::after {
				    content: '';
				    position: absolute;
				    height: 16px;
				    width: 1px;
				    background: #a1a1a1;
				    right: 0;
				    top: 2px;
				}

				.dropdown-toggle {
					padding: 0 18px;
					&::after {
						content: none;
					}
				}

				&:last-child {
					.dropdown-toggle {
						padding-right: 0;
					}
					&::after {
						content: none;
					}
				}
			}

			img {
				margin-right: 6px;
			}
		}

		.dropdown-menu {
		    max-height: 0;
		    display: block;
		    overflow: hidden;
		    opacity: 0;
		    border: 0;
		    padding: 0;
		    z-index: 9921;
	        transition: all .2s cubic-bezier(.2,1,.22,1),opacity .15s ease-out;
	        @extend %rounded-corners;
	        @extend %bgc-transparent;

		    &.show {
			    max-height: 200px;
			    opacity: 1;
		    }

		    ul {
			    border: 1px solid #e0e0e0;
			    left: 7px;
			    margin: 10px 0 0;
			    padding: 10px 18px 15px;
			    box-shadow: none;
			    min-width: 145px;
			    list-style: none;
			    overflow: hidden;
			    @extend %rounded-corners;
			    @extend %bgc-white;

				li {
				    a {
				    	display: block;
					    color: #4d4d4d;
					    font-size: 13px;
					    text-decoration: none;
					    padding: 6px 0 12px;
					    line-height: 20px;
					    margin-bottom: 6px;
					    text-align: left;
					    border-bottom: 1px solid #eeeeee;

					    &:hover {
					    	@include cx-color(primary, color);
					    }
				    }
				    &:last-child {
				    	a {
				    		border-bottom: 0;
				    		@extend %pb0;
				    		@extend %mb0;
				    	}
				    }
				}
		    }
		}

		@include media-only(notebook, max) {
			text-align: center;
			margin-top: 20px;
		}

		@include media-only(small-mobile, max) {
			> li {
				&:last-child {
					margin-top: 20px;
					display: block;
				}

				&.list-inline-item {
					&::after {
						content: none;
					}
				}
			}
		}
	}

	.top-header {
		@include media-only(notebook, max) {
			margin-top: 20px;
		}
	}

	.header-search-area {
		@include media-only(notebook, max) {
			max-width: 500px;
			margin-bottom: 20px;
		}
	}

	.bottom-header {
	    display: inline-block;
	    width: 100%;
	    margin: 23px 0 0;
	}

	.header-contact,
	.header-cart {
		float: right;

		@include media-only(notebook, max) {
			float: none;
		}
	}

	.header-contact {
		align-items: center;
		margin-right: 30px;

		i {
		    font-size: 45px;
		}

		.header-contact-content {
			p {
				@extend %mb0;
			}
			span {
			    font-size: 14px;
			    color: #888888;
			    text-transform: uppercase;
			}

			a {
			    font-size: 14px;
			    margin: 3px 0 0;
			    display: block;
			    line-height: 1;
			}
		}

		@include media-only(notebook, max) {
			justify-content: center;
			align-items: center;
			margin: 25px 0 0;

			.header-contact-content {
				flex: 0 0 auto;
			}
		}
	}

	@include media-only(notebook, max) {
		text-align: center;
	}

	&.with-bg {
		background-image: url(../images/backgrounds/header-bg.jpg);
		background-repeat: no-repeat;
		background-position: 0 0;
		background-size: cover;
	}

	&.white-scheme {
		@extend .color-white;
		
		button,
		a {
			@extend .color-white;

			&:hover,
			&:focus {
				@include cx-color(primary, color);
			}
		}

		.header-contact-content {
			span {
				@extend .color-white;
			}
		}

		.header-search-area {
			border: 0;
			@extend .bgc-white;
		}

		.header-search-btn {
			i {
				color: #333;
				@extend %cx-transition;
				&:hover,
				&:focus {
					@extend .color-white;
				}
			}
		}
		
		.header-cart {
			.dropdown-toggle {
				@extend %bgc-white;
			}

			.count-style {
				color: #333;
			}

			.shopping-cart-title {
				a {
					color: #333;

					&:hover {
						@include cx-color(primary, color);
					}
				}
			}
		}
	}

	.color-scheme-three & {
		.header-search-btn {
			i {
				color: #333;
				@extend %cx-transition;
				&:hover,
				&:focus {
					@extend .color-white;
				}
			}
		}
	}

	&.header-type-2 {
		@extend .pos-r;

		.header-area {
			padding: 40px 0 25px;
		}

		.logo {
			margin: -5px 0 0;
		}

		.list-inline {
			> li {
				&:not(:last-child) {
					margin-right: 5px;
				}

				&::after {
					content: none;
				}

				i {
					margin-left: 3px;
				}

				.dropdown-toggle {
				    padding: 0 15px;
				    border: 1px solid $cx-border-color;
				    line-height: 36px;

				    @extend %rounded-corners;

				    .color-scheme-four & {
				    	border-color: #db6161;
				    }
					
				    &:hover, 
				    &:focus {
				    	@include cx-color(secondary, color);
				    }
				}

				.dropdown-menu {
					a {
					    &:hover, 
					    &:focus {
					    	@include cx-color(secondary, color);
					    }
					}
				}

				&:last-child {
					.dropdown-toggle {
						padding-right: 15px;
					}
				}
			}
		}

		.header-cart-area {
		    position: absolute;
		    right: 15px;
		    z-index: 991;
		    bottom: -93px;

		    .dropdown-toggle {
		    	width: auto;
		    	height: 36px;
			    padding: 0 13px;
			    text-decoration: none;
			    border: 0;
			    @include cx-color(secondary, bg);

			    i {
			    	font-size: 20px;
			    	margin-right: 3px;
			    	width: auto;
			    	height: 36px;
			    	line-height: 38px;
			    	color: #333
			    }

			    .cart-text {
					color: #333;
					position: relative;
					text-transform: uppercase;
					top: -4px;
			    }
		    }

		    .dropdown-menu {
		    	margin-top: 15px;

		    	.default-btn {
		    		@include cx-color(secondary, bg);
		    		&:hover,
		    		&:focus {
		    			@extend .color-white;
		    			background: #333;
		    		}
		    	}

				a {
				    &:hover, 
				    &:focus {
				    	@include cx-color(secondary, color);
				    }
				}
		    }
		}
	}

	&.inner-header {
		.color-scheme-one & {
			.main-nav-area {
				background: #6e87b2;

				&.sticky {
					background: rgba(#6d86b1, 0.9);
				}
			}
		}

		.color-scheme-two & {
			.main-nav-area {
				background: #254672;

				&.sticky {
					background: rgba(#254672, 0.9);
				}
			}
		}

		.color-scheme-three & {
			.main-nav-area {
				background: #2b7fd0;

				&.sticky {
					background: rgba(#2b7fd0, 0.9);
				}
			}
		}

		.color-scheme-four & {
			.main-nav-area {
				background: #d44242;

				&.sticky {
					background: rgba(#d44242, 0.9);
				}
			}
		}


	    @include media-only(notebook, max) {
	    	.color-scheme-one &,
	    	.color-scheme-two &,
	    	.color-scheme-three &,
	    	.color-scheme-four & {
				.main-nav-area {
			        background: #434343;
			        &:hover {
			            background: #434343;
			        }

			        &.sticky {
				        background: #434343;
				        &:hover {
				            background: #434343;
				        }
			        }
				}
		    }
	    }
	}

}