/*
This file is used to contain all component imports.
Files inside this folder should contain all styles relating
to a reusable component.
*/
// Importing Component files

/************************************************************
	c10 - Components Section
*************************************************************/
@import 'cp-header-cart';
@import 'cp-header-search';
@import 'cp-main-menu';
@import 'cp-primary-slider';
@import 'cp-button';
@import 'cp-feature-box';
@import 'cp-promo-banner';
@import 'cp-section-title';
@import 'cp-slider-nav';
@import 'cp-tab-navs';
@import 'cp-product';
@import 'cp-testimonial';
@import 'cp-widgets';
@import 'cp-to-top';