/**
 * Components Button
 *
 */

.default-btn {
    height: 40px;
    line-height: 40px;
    text-align: center;
    padding: 0 30px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
    display: inline-block;
    cursor: pointer;
    @extend %rounded-corners;
    @extend %color-white;
    @include cx-color(primary, bg);

    &:hover,
    &:focus {
        @extend .color-white;
	    @extend .bgc-dark;
    }

    &.transparent {
    	border: 1px solid lighten($cx-text-color, 100%);
    	@extend %bgc-transparent;

	    &:hover,
	    &:focus {
		    @include cx-color(primary, border);
		    @include cx-color(primary, bg);
	    }
    }
}