/**
 * Components Feature Box
 *
 */

.feature-box {
	@extend %mb-half;

	i {
	    font-size: 40px;
	    border: 1px solid $cx-border-color;
	    width: 70px;
	    height: 70px;
	    line-height: 70px;
	    text-align: center;
	    @extend %rounded-corners;
	    @extend %cx-transition;
	    @include cx-color(primary, color);

	    &::before {
		    right: -1px;
		    @extend .pos-r;
	    }

	    @include respond-to(tablet) {
	    	font-size: 30px;
	    	width: 60px;
	    	height: 60px;
	    	line-height: 60px;
	    }
	}

	.feature-content {
		@extend %overflow-hidden;
	}

	h2 {
	    font-size: 16px;
	    color: #333333;
	    margin: 0;
	    font-weight: 400;
	    text-transform: uppercase;

	    @include media-only(wide, max) {
			font-size: 13px;
		    overflow: hidden;
		    text-overflow: ellipsis;
		    white-space: nowrap;
		    width: 100%;
	    }
	}

	p {
	    font-size: 14px;
	    color: #666666;
	    margin: 5px 0 0;
	    font-weight: 300;
	    @include media-only(wide, max) {
			font-size: 12px;
	    }
	}

	&:hover {
		i {
			@extend .circle;
		}
	}

	&.type-2 {
	    padding: 23px 20px;
	    border: 1px solid $cx-border-color;
	    @extend %rounded-corners;
	    @extend %mb-half;

	    @include media-only(wide, max) {
	    	padding: 18px 20px;
	    }

	    i {
		    width: 60px;
		    height: 60px;
		    line-height: 60px;
		    font-size: 54px;
		    border: 0;

		    @include media-only(wide, max) {
				width: 40px;
				height: 40px;
				line-height: 40px;
				font-size: 40px;
		    }
	    }
	}
}