/**
 * Components Main Menu
 *
 */


#main_nav {
    .menu-toggle {
        @extend %color-white;
    }
    > ul {
        > li {
            a {
                padding: 20px 10px 20px 10px;
                font-size: 15px;
                text-transform: uppercase;
                line-height: 20px;
                @extend %color-white;

                span {
                    padding: 5px 15px;
                    border: 1px solid transparent;
                    @extend %rounded-corners;
                    @extend %cx-transition;
                }

                &::after {
                    content: none;
                }
            }

            &:first-child {
                a {
                    padding-left: 0;
                }
            }

            &.active,
            &:hover {
                a {
                    span {
                        background: rgba(#fff, 0.1);
                        border-color: rgba(#fff, 0.2);
                    }
                }
            }

            &.active {
                .active {
                    > a {
                        @include cx-color(primary, color);
                        &:hover {
                            @include cx-color(secondary, color);
                        }
                    }
                }
            }
        }
    }

    > ul li.has-sub,
    .mega {
        a {
            span {
                &::after {
                    content: '\f107';
                    font-family: FontAwesome;
                    margin-left: 5px;
                    font-size: 13px;
                    position: relative;
                    left: 5px;
                }
            }
        }
    }

    .mega-container,
    > ul >li > ul {
        padding: 45px 40px;
        color: #333;
        border-radius: 0 0 3px 3px;
        box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.1);
        @extend %bgc-white;
    }
    
    .mega-container {
        // display: block !important;

        ul {
            @extend %bgc-white;
        }

        li {
            @extend %pb0;
        }

        .mega-menu-title {
            margin-bottom: 20px;
            padding: 0 0 12px;
            border-bottom: 1px solid $cx-border-color;
            position: relative;

            &::before {
                content: '';
                height: 1px;
                width: 70px;
                position: absolute;
                left: 0;
                right: 0;
                margin: 0;
                bottom: -1px;
                z-index: 1;
                @include cx-color(primary, bg);
            }

            h3 {
                font-size: 16px;
                line-height: 16px;
                @include cx-color(primary, color);
                @extend %mb0;
            }
        }

        .mega-menu-title,
        .mega-menu-title + ul {
            margin-left: 15px;
            margin-right: 15px;
        }

        a {
            color: #333;
            text-transform: capitalize;
            font-size: 14px;
            padding: 0;
            line-height: 30px;
            &:hover,
            &:focus {
                @include cx-color(primary, color);
            }
        }
    }

    > ul {
        > li {
            > ul {
                padding: 30px;
                a {
                    padding: 0 0 10px;
                    color: #333;
                    text-transform: capitalize;
                    line-height: 30px;
                    font-size: 14px;

                    &:hover {
                        @include cx-color(primary, color);
                    }
                }

                li {
                    &:last-child {
                        a {
                            padding-bottom: 0;
                        }
                    }
                }
            }
        }
    }

    @include media-only(notebook, max) {
        &.mobile {
            max-height: 500px;
            overflow-y: scroll;
            
            .menu-toggle {
                i {
                    margin-right: 5px;
                }
            }

            .dd-toggle {
                width: 70px;
                right: -15px;
            }

            ul {
                li {
                    a {
                        padding: 15px 0;
                        font-size: 13px;
                        span {
                            border: 0;
                            background: transparent;

                            &::after {
                                content: none;
                            }
                        }
                    }

                    .dd-toggle {
                        i {
                            font-size: 12px;
                            top: 53%;
                            margin-top: -6px;
                        }
                    }

                    ul {
                        background: #434343;
                        padding-top: 0;
                        padding-bottom: 15px;
                        box-shadow: none;

                        a {
                            color: #fff;
                        }

                        li {
                            &:last-child {
                                a {
                                    // border-bottom: 0;
                                    padding-bottom: 15px;
                                }
                            }
                        }
                    }
                }
            }

            .mega-container {
                background: #434343;
                padding: 15px 30px;

                .mega-menu-title {
                    margin: 0;
                    padding: 15px 0;
                    border-bottom-color: rgba(255,255,255,.15);

                    h3 {
                        font-size: 13px;
                        color: #fff;
                        font-weight: normal;
                        line-height: 30px;
                    }

                    &::before {
                        content: none;
                    }
                }

                li {
                    &.open {
                        &:last-child {
                            margin-bottom: -15px;
                        }
                    }
                }

                .dd-toggle {
                    i {
                        top: 65%;
                    }
                }
            }
        }
    }
}
