/**
 * Components Widgets
 *
 */

/* Widget Title */
.widgettitle {
    font-size: 18px;
    padding-bottom: 16px;
    border-bottom: 1px solid $cx-border-color;
    position: relative;
	margin-bottom: 40px;

    &::before {
	    content: '';
	    width: 70px;
	    height: 1px;
	    position: absolute;
	    bottom: -1px;
	    left: 0;
	    @include cx-color(primary, bg);
    }
}

.sidebar-widget {
	margin-bottom: 50px;

	.widgettitle {
		font-size: 20px;
	    padding: 0 0 20px;
	    margin-bottom: 30px;
	}

	&:last-child {
		@extend %mb0;
	}
}


/* Text Widget */
.widget-content {
	p {
	    font-size: 14px;
	    font-weight: 400;
	    line-height: 25px;
	    color: #333;
	}

	> p {
		color: #666;
	    font-weight: 300;
	    margin: 0 0 20px;

	    &:last-of-type {
	    	@extend %mb0;
	    }
	}

	.footer-contact {
		margin-top: 20px;
		> p {
		    padding-left: 35px;
		    position: relative;
		    margin: 10px 0 0;

			&::before {
			    display: inline-block;
			    font-family: 'Pe-icon-7-stroke';
			    position: absolute;
			    left: 0;
			    top: 1px;
			    font-size: 20px;
			    color: #333333;
			}

			&.footer-address {
				&::before {
					content: "\e638";
				}
			}

			&.footer-phone {
				&::before {
					content: "\e670";
				}
			}

			&.footer-email {
				&::before {
					content: "\e639";
				}
			}
		}
	}
}


/* Recent Posts Widget */
.recent-posts-widget {
	@extend %overflow-hidden;

	.posts-single {
	    padding: 0 0 20px;
	    margin-bottom: 20px;
	    border-bottom: 1px solid $cx-border-color;

	    &:last-child {
	    	border-bottom: 0;
	    	@extend %pb0;
	    	@extend %mb0;
	    }
	}

	.post-thumbnail {
		> a {
			display: block;
			position: relative;
		}
	}

	.overlay {
	    opacity: 0;
	    visibility: hidden;
	    z-index: 0;
	    position: absolute;
	    left: 0;
	    top: 0;
	    width: 100%;
	    height: 100%;
	    transform: scale(.8);
	    background-color: rgba(0,0,0,.4);
	    @extend %cx-transition;
	}

	.post-title {
		h5 {
		    font-size: 14px;
		    color: #666;
		    text-transform: capitalize;
		    line-height: 20px;
		    font-weight: 400;
		    margin-bottom: 13px;

		    @include media-only(wide, max) {
		    	margin-bottom: 5px;
		    }
		}
	}

	.post-date {
	    font-size: 13px;
	    color: #999;
	    line-height: 1;
	    text-transform: capitalize;
	    font-style: italic;
	}

	.posts-single {
		&:hover {
			.overlay {
			    opacity: 1;
			    visibility: visible;
			    z-index: 1;
			    transform: scale(1);
			}
		}
	}
}


/* Widgetized Menu */
.widgetized-menu {
	li {
		a {
		    font-size: 14px;
		    color: #666;
		    text-transform: capitalize;
		    display: block;
		    padding-bottom: 15px;

		    &:hover {
		    	@include cx-color(primary, color);
		    }
		}

		&:last-child {
			a {
				@extend %pb0;
			}
		}
	}
}


/* Tags Widget */
.tags-widget {
	ul {
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			display: inline-block;

			a {
			    padding: 5px 15px;
			    border: 1px solid #dbdbdb;
			    display: block;
			    margin: 0 10px 10px 0;
			    font-size: 14px;
			    color: #666666;
			    text-transform: capitalize;
			    @extend %rounded-corners;

			    &:hover {
			    	@include cx-color(primary, border);
			    	@include cx-color(primary, bg);
			    	@extend %color-white;
			    }
			}
		}
	}

	.color-scheme-two & {
		a {
			&:hover {
				color: #333;
			}
		}
	}
}

/* Price Slider Widget */
.filter-price-content {
	#price_slider {
	    margin: 10px 0px 0px;
	    border-radius: 0;
	    background: #29323b;
	    border: none !important;
	    height: 4px;
	    position: relative;

	    .ui-slider-range {
		    position: absolute;
		    z-index: 1;
		    font-size: .7em;
		    display: block;
		    border: 0;
		    top: 0;
		    height: 100%;
		    @include cx-color(primary, bg);
	    }

	    .ui-slider-handle {
		    width: 14px;
		    height: 14px;
		    top: -5px;
		    border-radius: 50%;
		    position: absolute;
		    border: 0;
		    cursor: pointer;
		    @include cx-color(primary, bg);
	    }
	}

    .filter-price-wrapper {
		padding: 5px 0;
	    text-align: center;
	    font-size: 14px;
	    margin-top: 10px;
	    color: #363f4d;
	    font-weight: 400;

	    .filter-content {
		    display: flex;
		    font-weight: 600;
		    justify-content: center;

	    	input {
			    width: 100px;
			    border: none;
			    background: none;
			    text-align: center;
			    font-size: 14px;
	    	}
	    }
    }
}

/* Category Widget */
.list-widget {
	.list-group {
		> a {
		    text-transform: capitalize;
		    color: #333333;
		    font-size: 14px;
		    font-weight: 400;
		    padding-bottom: 13px;
		    display: block;
		    margin: 5px 0;

		    &:first-child {
		    	margin-top: 0;
		    }

		    &:last-child {
		    	margin-bottom: 0;
		    	padding-bottom: 0;
		    }

		    &::before {
			    content: "\f2bc";
			    font-family: "Ionicons";
			    width: 17px;
			    height: 17px;
			    line-height: 15px;
			    border: 1px solid #dfdfdf;
			    display: inline-block;
			    margin-right: 10px;
			    border-radius: 2px;
			    text-align: center;
			    color: transparent;
			    @extend %cx-transition;
		    }

		    &:hover,
		    &:focus {
		    	@include cx-color(primary, color);

		    	&::before {
		    		@extend .color-white;
		    		@include cx-color(primary, bg);
		    		@include cx-color(primary, border);
		    	}
		    }
		}
	}
}