/**
 * Components Tab Navs
 *
 */

.nav {
	&.nav-pills {
		.nav-item {
			margin-right: 10px;
			&:last-child {
				margin-right: 0;
			}

			@include respond-to(mobile) {
				margin-bottom: 5px;
				margin-right: 1%;
			    margin-left: 1%;
			    width: 48%;
			    text-align: center;
			}
		}
		.nav-link {
			font-size: 14px;
		    height: 36px;
		    line-height: 36px;
		    padding: 0 15px;
		    text-transform: capitalize;
		    border: 1px solid transparent;
		    @include cx-default-color(color, black);
		    @extend %rounded-corners;

			&:hover,
		    &.active {
				@include cx-color(primary, border);
				@include cx-default-color(bgc, transparent);
				@include cx-color(primary, color);
		    }
		}
	}
}