/**
 * Components Header Cart
 *
 */

.header-cart {
	button {
	    background: none;
	    border: 1px solid #5c5c5c;
	    box-shadow: none;
	    padding: 0;
	    width: 48px;
	    height: 48px;
	    float: right;
	    text-align: center;
	    cursor: pointer;
	    @extend %rounded-corners;
	    @extend .pos-r;

	    i {
		    font-size: 30px;
		    width: 48px;
		    height: 48px;
		    line-height: 48px;
		    left: -2px;
		    @include cx-default-color(color, black);
		    @extend %cx-transition;
		    @extend .pos-r;
	    }

	    .count-style {
		    width: 20px;
		    height: 20px;
		    line-height: 20px;
		    font-weight: 700;
		    font-size: 12px;
		    text-transform: capitalize;
		    float: left;
		    border-radius: 100%;
		    text-align: center;
		    position: absolute;
		    top: -5px;
		    right: -5px;
		    z-index: 2;
		    @include cx-default-color(color, white);
		    @include cx-color(secondary, bg);

		    .color-scheme-three & {
		    	@include cx-default-color(color, dark);
		    }
	    }

		&:focus,
	    &:hover {
	    	@include cx-default-color(bgc, transparent);
	    	@include cx-color(primary, border);
	    	i {
	    		@include cx-color(primary, color);
	    	}
	    }

	    &::after {
	    	content: none;
	    }
	}

	.dropdown-menu {
	    max-height: 0;
	    display: block;
	    // opacity: 0;
	    z-index: 9911;
	    right: 0;
	    left: auto;
	    padding: 0;
	    border: 0;
	    margin-top: 15px;
        transition: all .3s ease-out;
	    box-shadow: none;
	    width: 355px;
	    @extend %overflow-hidden;
	    @extend %rounded-corners;

	    @include media-only(small-mobile, max) {
			width: 290px;
	    }

	    &.open {
		    max-height: 450px;
		    // opacity: 1;
	    }

	    .shopping-cart-content {
	    	border: 1px solid #e0e0e0;
	    	@extend %rounded-corners;
	    	@extend %overflow-hidden;
	    }

	    ul {
		    max-height: 265px;
		    overflow-y: auto;
		    padding: 30px 20px 0;
		    @extend %mb0;
	    }
    }

	.single-cart-item {
	    border-bottom: 1px solid $cx-border-color;
	    margin-bottom: 20px;
	    padding-bottom: 20px;
		.shopping-cart-delete {
		    top: -3px;
		    font-size: 16px;
		    @extend .pos-r;
		}

		.shopping-cart-img {
			@extend .pos-r;
		}

		.shopping-cart-title {
			padding-right: 10px;
		}

		.product-quantity {
		    position: absolute;
		    top: 0;
		    left: 0;
		    min-width: 25px;
		    line-height: 25px;
		    padding: 0;
		    text-align: center;
		    font-size: 14px;
		    display: inline-block;
		    @extend .circle;
		    @include cx-color(primary, bg);
		    @include cx-default-color(color, white);
		}

		img {
			max-width: 70px;
		}

		h4 {
			font-size: 14px;
			text-transform: capitalize;
			margin-bottom: 5px;
			padding-right: 5px;
			@include cx-truncation(1, 1.2, #fff);
		}

		.cart-price {
			margin-bottom: 5px;
			@include cx-color(primary, color);
		}

		.shopping-cart-delete {
			i {
				color: $cx-secondary-color-1;
			}
		}

		&:last-child {
			border: 0;
			@extend %mb0;
		}
	}

	.shopping-cart-title {
		span {
			display: block;
		    @include cx-default-color(color, black);
		}
	}

	.shopping-cart-total {
		padding: 20px 20px 0;
	    box-shadow: 0 -5px 20px -5px rgba(0, 0, 0, 0.08);
		h4 {
			font-size: 20px;
		    color: #444444;
		    line-height: 1.5;
		    text-transform: capitalize;
		    margin-bottom: 10px;
		    font-weight: 500;
		    > span {
		    	float: right;
	    	    color: #dc4444;
		    }
		}
	}

	.shopping-cart-btn {
		padding: 10px 20px 20px;
		overflow: hidden;
		> .default-btn {   		
		    &:last-child {
		    	float: right;
		    }
		}
	}
}