/**
 * Components Primary Slider
 *
 */

#primary_slider {
	.swiper-arrow {
	    margin-top: -30px;
	    position: absolute;
	    cursor: pointer;
	    z-index: 9;
	    width: 60px;
	    height: 60px;
	    text-align: center;
	    line-height: 66px;
	    display: inline-block;
	    background: rgba(#fff, 0.1);
	    top: 50%;
	    opacity: 0;
	    border: 0;
	    @extend .circle;
	    @include cx-default-color(color, white);
	    @extend %cx-transition;

	    i {
	    	font-size: 20px;
			@extend .pos-r;
	    }

	    &.prev {
	    	left: 30px;
	    	i {
				right: 1px;
	    	}
	    }

	    &.next {
	    	right: 30px;

	    	i {
	    		left: 1px;
	    	}
	    }

	    &:hover {
	    	@include cx-default-color(bgc, white);
	    	@include cx-color(primary, color);
	    }

	    @include respond-to(notebook) {
	    	opacity: 1;
		    width: 50px;
		    height: 50px;
		    line-height: 56px;

		    &.next {
		    	right: 15px;
		    }

		    &.prev {
		    	left: 15px;
		    }
	    }
	}

	&:hover {
		.swiper-arrow {
			opacity: 1;
		}
	}

	@include media-only(notebook, max) {
		.swiper-arrow {
			display: none;
		}
	}

	.slide-content {
		width: 510px;
		position: absolute;
		top: 50%;
		margin-top: 60px;
		transform: translateY(-60%);

	    @include respond-to(tablet) {
	    	margin-top: 30px;
	    	width: 460px;
	    }

	    @include respond-to(mobile) {
	    	margin-top: 40px;
	    	width: 400px;
	    }

	    @include media-only(small-mobile, max) {
	    	margin-top: 30px;
	    	width: 285px;
	    }

		h1,
		h2 {
			text-transform: uppercase;
			line-height: 1;
			@include cx-default-color(color, white);
		}
		h1 {
		    font-size: 60px;
		    margin: 0 0 20px;

		    @include respond-to(notebook) {
		    	font-size: 50px;
		    }

		    @include respond-to(tablet) {
		    	font-size: 36px;
		    }

		    @include respond-to(mobile) {
		    	font-size: 32px;
		    }

		    @include media-only(small-mobile, max) {
		    	font-size: 28px;
		    }
		}

		h2 {
		    margin: 5px 0 0;
		    font-size: 34px;
		    font-weight: 400;

		    @include respond-to(notebook) {
		    	font-size: 30px;
		    }

		    @include respond-to(tablet) {
		    	font-size: 22px;
		    }

		    @include respond-to(mobile) {
		    	font-size: 20px;
		    }

		    @include media-only(small-mobile, max) {
		    	font-size: 18px;
		    }
		}

		p {
		    text-transform: inherit;
		    margin: 5px 0 0;
		    font-size: 86px;
		    font-weight: 600;
		    line-height: 1;
		    @include cx-default-color(color, white);

		    @include respond-to(notebook) {
		    	font-size: 66px;
		    }

		    @include respond-to(tablet) {
		    	font-size: 44px;
		    }

		    @include respond-to(mobile) {
		    	font-size: 40px;
		    }

		    @include media-only(small-mobile, max) {
		    	font-size: 34px;
		    }
		}

		.slide-button {
			margin:30px 0 0;
			@include media-only(tablet, min) {
				.default-btn {
					padding: 0 25px;
					height: 46px;
					line-height: 46px;
				}
			}

		    @include respond-to(mobile) {
		    	margin-top: 20px;
		    }
		}

		* {
			animation-duration: 0.8s;
			animation-fill-mode: both;
		}
	}

	.swiper-slide-active {
		.layer-animation-1 {
			h1 {
				animation-delay: 0.5s;
				animation-name: fadeInLeft;
			}

			h2 {
				animation-delay: 0.7s;
				animation-name: fadeInLeft;
			}

			p {
				animation-delay: 0.9s;
				animation-name: fadeInLeft;
			}

			.slide-button {
				animation-delay: 1s;
				animation-name: fadeInLeft;
			}
		}

		.layer-animation-2 {
			h1 {
				animation-delay: 0.5s;
				animation-name: fadeInDown;
			}

			h2 {
				animation-delay: 0.7s;
				animation-name: fadeInDown;
			}

			p {
				animation-delay: 0.9s;
				animation-name: fadeInUp;
			}

			.slide-button {
				animation-delay: 1s;
				animation-name: fadeInLeft;
			}
		}
	}

	&:not([class*='slider-type-']) {
		@include media-only(notebook, min) {
			.swiper-pagination {
				display: none;
			}
		}
	}

	&.slider-4 {
		@include media-only(notebook, min) {
			.swiper-pagination {
				display: block;
			}
		}
	}
}

